* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: white;
}

:root {
    font-size: 10px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

body {
    background-color: #1B2316;
}


/* =============== PLANT BACKGROUND =============== */

.plant-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 2/3;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./img/header-bg.jpg');
    background-size: cover;
    background-position: center;
}

/* =============== HEADER =============== */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 min(5.6rem, 7vw);
    margin-top: min(5.7rem, 7vw);
}

.logo-cnr {
    display: flex;
    align-items: flex-end;
    gap: 0.8rem;
}

.logo {
    height: 4.8rem;
}

.logo-text {
    font-size: 2.8rem;
    font-weight: 800;
}

.nav-link-list {
    display: flex;
    gap: 7rem;
    font-size: 2.4rem;
}

.nav-link-list li:nth-child(2) {
    position: relative;
}

.nav-link:hover,
.nav-link:hover>* {
    color: orange;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 4.5em;
}

.header-basket-cnr {
    position: relative;
}

.header-icons i {
    font-size: 3.2em;
}

.menu-icon {
    display: none;
}

.added-items-count {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: crimson;
    color: white;
    padding: 1rem;
    min-height: 3.2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    font-size: 1.8rem;
    line-height: 1;
    box-sizing: border-box;
    white-space: nowrap;
    position: absolute;
    bottom: -50%;
    right: -50%;
}

.menu-line {
    display: block;
    height: 4px;
    border-radius: 1000px;
    background-color: white;
    width: 25px;
}

.menu-line:nth-child(2) {
    width: 15px;
    margin-left: auto;
    margin-top: 8px;
}


/* =============== HEADING SECTION =============== */


.heading-section {
    padding: 17rem 5.6rem;
    display: flex;
    gap: 11.5vw;
    align-items: center;
}

.heading-text {
    font-size: 1rem;
}

.heading-left {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 11.8em;
}

.heading-text p {
    font-size: 2.8em;
}

.btn-cnr {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.explore-btn {
    position: relative;
    font-size: 2.8em;
    padding: 0.54em 2.15em;
    border: 2px solid white;
    border-radius: 0.43em;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease;
}

.explore-btn:hover {
    color: black;
}

.explore-btn::after {
    content: '';
    position: absolute;
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 0;
    height: 0;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.3s ease;
    z-index: -1;
}

.explore-btn:hover::after {
    opacity: 1;
    width: 500%;
    height: 500%;
}

.demo-btn {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-size: 2.8em;
}

.demo-btn>* {
    transition: all .3s ease;
}

.demo-btn:hover>* {
    border-color: rgb(160, 160, 160);
    color: rgb(160, 160, 160);
}

.play-icon {
    font-size: 1em;
    border-radius: 50%;
    border: 2px solid white;
    padding: 0.75em;
}

.heading-comment-cnr {
    margin-top: 18rem;
    display: inline-flex;
    flex-direction: column;
    gap: 2.2rem;
    padding: 4rem;
    background-color: rgb(255, 255, 255, 0.08);
    backdrop-filter: blur(5px);
    border: 2px solid rgb(255, 255, 255, 0.25);
    border-radius: 4.5rem;
    width: min(100%, 535px)
}

.heading-comment-cnr .author-cnr {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.heading-comment-cnr .profile-pic {
    height: 6.4rem;
}

.heading-comment-cnr .author-name {
    font-size: 2.2rem;
}

.heading-comment-cnr .star {
    color: #FFF84E;
    font-size: 1.5rem;
}

.heading-comment-cnr p {
    font-size: 1.8rem;
}

.curvy-box {
    font-size: 10px;
    position: relative;
    padding: 340px 50px 40px 70px;
    width: 510px;
    border-radius: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
    box-shadow: 0 9px 18.4px rgba(0, 0, 0, 0.25);
}

.curvy-box .overlay {
    position: absolute;
    inset: 0;
    border-radius: 80px;
    clip-path: path("M 0 0 H 80 Q 255 18 430 0 H 510 V 1000 H 0 Z");
    backdrop-filter: blur(5px);
    background-color: rgb(255, 255, 255, 0.08);
    z-index: -1;
}

.slideshow-heading-cnr {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading-slideshow-cnr img {
    display: none;
}

.curvy-box img {
    height: 46em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25%;
    animation: slideInBottom 0.7s ease-in;
}

@keyframes slideInBottom {
    0% {
        opacity: 0;
        transform: translate(-50%, 2%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

.curvy-box .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
}

.curvy-box .plant-category {
    font-size: 2.4em;
    animation: slideInRight 0.5s ease-in;
}

.curvy-box .plant-name {
    font-size: 3.8em;
    animation: slideInRight 0.5s ease-in;
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(5%)
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

.curvy-box .right-arrow-icon {
    font-size: 3em;
    cursor: pointer;
    transition: transform .1s ease;
}

.curvy-box .right-arrow-icon:hover {
    transform: scale(1.2);
}

.header-ss-pagination-cnr {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 3.6em;
}

.pagination-dot {
    display: block;
    height: 0.6em;
    width: 0.6em;
    background-color: white;
    border-radius: 50%;
    transition: width 0.7s ease, border-radius 0.3s ease;
}

/* =============== TRENDY PLANTS SECTION =============== */

.trendy-plants-section {
    padding: 10rem min(5.6rem, 7vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20rem;
}

.section-heading {
    font-size: 1rem;
    position: relative;
    padding: 2em 3.5em;
    width: max-content;
}

.section-heading h2 {
    font-size: 5.5em;
}

.sh-top-right {
    position: absolute;
    right: 0;
    top: 0;
    height: 80%;
}

.sh-bottom-left {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80%;
}

.trendy-plant-item {
    font-size: 1rem;
    width: 100%;
    display: flex;
    gap: 5rem;
    padding: max(8rem, 6.5vw) min(8rem, 10vw);
    border-radius: 15em;
    background-color: rgba(255, 255, 255, 0.08);
    border: 2px rgb(255, 255, 255, 0.3) solid;
    backdrop-filter: blur(12px);
    justify-content: space-between;
}

.trendy-plant-item.item-2 {
    flex-direction: row-reverse;
}


.trendy-plant-item .image-cnr {
    width: 50%;
    display: flex;
    justify-content: left;
    position: relative;
}

.trendy-plant-item.item-2 .image-cnr {
    justify-content: flex-end;
}

.trendy-plant-item img {
    height: 50em;
    position: absolute;
    bottom: 0;
}

.trendy-plant-item .info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5em;
}

.trendy-plant-item .heading,
.trendy-plant-item .price {
    font-size: 3.8em;
}

.trendy-plant-item .body {
    font-size: max(2em, 15px);
}

.trendy-plant-item .buttons-cnr {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
}

.basket-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 3.4em;
    border: 2px white solid;
    border-radius: 0.43em;
    padding: 0.44em;
}

.basket-btn:hover,
.basket-btn:hover>i {
    background-color: white;
    color: black;
}

.added {
    background-color: rgb(173, 147, 0);
}

.added:hover,
.added:hover>i {
    background-color: rgb(133, 113, 0);
    color: white;
}

.tooltip {
    display: none;
    position: absolute;
    width: max-content;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(173, 147, 0);
    font-size: 2.4rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    z-index: 1;
}

.tooltip::after {
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    top: -0.2rem;
    left: 50%;
    transform: translateX(-50%);
    rotate: 45deg;
    background-color: rgb(173, 147, 0);
    z-index: -1;
}

.basket-btn:hover>.add-tooltip {
    display: block;
}

.basket-btn.added:hover>.remove-tooltip {
    display: block;
}




/* =============== TOP SELLING SECTION =============== */

.top-selling-section {
    padding: 15rem 4.5rem 22rem 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tss-items-container {
    margin-top: 14rem;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 100px;
}

.tss-item {
    padding-bottom: 50px;
}

.tss-item-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.6em;
    align-items: flex-start;
}


.tss-item-info .heading {
    font-size: 3.8em;
}

.tss-item-info .body {
    font-size: 2.4em;
}

.tss-item-info .order-cnr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tss-item-info .price {
    font-size: 3.8em;
}


/* =============== CUSTOMER REVIEW SECTION =============== */

.customer-review-section {
    padding: 22rem 6.3rem 28.5rem 6.3rem;
    display: flex;
    flex-direction: column;
    gap: 18.2rem;
    align-items: center;
}

.cr-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.3rem;
    row-gap: 8em;
}

.cr-item {
    padding: 91px 51px 95px 58px;
    gap: 6.1em;
    margin-top: 0;
}

.cr-item .author-cnr {
    display: flex;
    gap: 3.8em;
    align-items: center;
    width: 100%;
}

.cr-item .profile-pic {
    position: relative;
    top: 0;
    left: 0;
    transform: translateX(0);
    height: 8.8em;
}

.cr-item .author-name p {
    font-size: 3.8em;
    margin-bottom: 5px;
}

.cr-item .star {
    color: #FFF84E;
    font-size: 1.9em;
}

.cr-item p {
    font-size: 2.4em;
}


/* =============== BEST O2 SECTION =============== */

.best-o2-section {
    padding: 28.5rem 4.5rem 17rem 8.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bo2-main-container {
    width: 100%;
    margin-top: 35rem;
}

.bo2-main {
    padding: 10rem 7rem 17rem 7rem;
}

.bo2-main .image-cnr {
    justify-content: center;
    width: 50%;
}

.bo2-main img {
    display: none;
    height: 78rem;
    /* bottom: -9rem; */
    animation: fadeIn .3s linear;
}

.bo2-main .plant-1 {
    height: 68rem;
    transform: translateX(-5rem);
}

@keyframes fadeIn {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 1;
    }
}

.bo2-main .info {
    gap: 4.2em;
    width: 50%;
}

.bo2-main .body {
    font-size: 2.8em;
}

.bo2-main .buttons-cnr {
    justify-content: space-between;
}

.bo2-main .pagination-buttons-cnr {
    display: flex;
    gap: 2.15em;
    font-size: 20px;
    align-items: center;
}

.arrow-icon {
    font-size: 24px;
}

.bo2-main-container .header-ss-pagination-cnr {
    margin-top: 9.8rem;
}

.bo2-main-container .pagination-dot {
    height: 1.1rem;
    width: 1.1rem;
}


/* =============== CUSTOMER REVIEW SECTION =============== */

footer {
    padding: 9rem 3.8rem 8.8rem 7.6rem;
}

.ft-main {
    display: flex;
    gap: 8rem;
    justify-content: center;
    flex-wrap: wrap;
}

.ft-main>* {
    flex-grow: 1;
}

.ft-main .body {
    width: clamp(350px, 40vw, 600px);
}

.ft-main .logo {
    height: 9.4rem;
}

.ft-main .logo-cnr .planto {
    font-size: 5.8rem;
}

.ft-main .body .info {
    font-size: 2.8rem;
    margin-top: 4.3rem;
}

.ft-links-cnr {
    width: max-content;
}

.ft-links-cnr .links-header {
    font-size: 3.4rem;
    white-space: nowrap;
}

.ft-links-cnr ul {
    margin-top: 4.6rem;
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
}

.ft-links-cnr a {
    font-size: 2.4rem;
}

.subscribe-cnr {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.subscribe-cnr p {
    font-size: 3.4rem;
}

.input-cnr {
    display: flex;
    align-items: center;
    width: 56.2rem;
    position: relative;
}

.subscribe-btn {
    background-color: white;
    position: absolute;
    height: 90%;
    right: 1%;
    padding: 0 2rem;
    font-size: 2.2rem;
    border-radius: 0.8rem;
    color: black;
    font-weight: bold;
}

input {
    background-color: transparent;
    font-size: 2.4rem;
    padding: 2.2rem 17rem 2.2rem 3rem;
    width: 100%;
    border-radius: 0.8rem;
    border: 2px white solid;
    color: rgba(255, 255, 255, 0.75);
    outline: none;
}


.ft-end {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 9rem;
}

.social-cnr {
    display: flex;
    gap: 5rem;
    font-size: 2.8rem;
    font-weight: bold;
}

.copyright {
    font-size: 2.4rem;
}














@media (max-width: 1440px) {
    .heading-section {
        gap: 10vw;
    }

    .trendy-plant-item {
        flex-direction: column !important;
        padding-top: 16em;
        align-items: center;
    }

    .trendy-plant-item .image-cnr,
    .trendy-plant-item.item-2 .image-cnr {
        width: 100%;
        height: 20rem;
        justify-content: center;
        justify-content: center;
    }

    .trendy-plant-item .info {
        width: 100%;
    }

    .best-o2-section {
        padding: 28.5rem 4rem 17rem 4rem;
    }

    .bo2-main img {
        display: none;
        height: 70rem;
        /* bottom: -9rem; */
        /* transform: translateX(-8rem); */
    }

    .bo2-main .plant-1 {
        transform: translateX(0);
    }
}


@media (max-width: 1280px) {

    :root {
        font-size: 9px;
    }

    .heading-section {
        flex-direction: column;
    }

    .heading-left {
        align-items: center;
    }

    .nav-link-list {
        display: none;
    }

    .menu-icon {
        display: block;
    }

}

@media (max-width: 700px) {

    :root {
        font-size: 8px;
    }
}


@media (max-width: 600px) {
    .heading-section {
        padding: 10rem 20px;
    }

    .heading-text,
    .trendy-plant-item {
        font-size: 0.7rem;
    }

    .heading-comment-cnr {
        margin-top: 12rem;
    }

    .curvy-box {
        font-size: 8px;
        padding: 200px 50px 40px 70px;
        width: 340px;
        border-radius: 40px;
    }

    .curvy-box .overlay {
        border-radius: 40px;
        clip-path: path("M 0 0 H 40 Q 170 20 300 0 H 340 V 1000 H 0 Z");
    }

    .curvy-box img {
        height: 35em;
    }

    .section-heading {
        font-size: 0.7rem;
    }

    .trendy-plant-item {
        padding-top: 10em;
    }

    .tss-items-container {
        row-gap: 50px;
    }

    .cr-item {
        padding: 70px 40px 60px 40px;
        gap: 3em;
    }

    .cr-item .author-cnr {
        gap: 3em;
    }

    .bo2-main {
        padding: 10rem 4rem 12rem 4rem;
    }

    .bo2-main .pagination-buttons-cnr {
        font-size: 16px;
    }

    .bo2-main img {
        height: max(80vw, 400px);
    }

    .bo2-main .plant-1 {
        height: max(70vw, 360px);
    }

    .input-cnr {
        width: 80%;
        flex-direction: column;
        gap: 2rem;
    }

    .subscribe-cnr {
        align-items: center;
    }

    .subscribe-btn {
        position: relative;
        height: auto;
        padding: 2.2rem;
        right: 0;
    }


    .ft-end {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 500px) {

    .header-icons {
        font-size: 0.8rem;
    }

    .trendy-plant-item {
        border-radius: 10em;
    }

    .bo2-main .buttons-cnr {
        justify-content: center;
    }
}