/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../images/backgroundimg.jpg");
  background-size: cover;
  margin: 0px;
  padding: 0px;
}
header {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
  height: 50px;
}
.nvgtn-br {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  width: 545px;
  opacity: 75%;
  font-size: 25px;
}
.nvgtn-br a {
  color: #ffffff;
  text-decoration: none;
}
.hdr-lft {
  display: flex;
}
.hdr-lft img {
  height: 150px;
  width: 150px;
}
.hdr-lft span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: -30px;
  font-weight: 900;
  font-size: 36px;
  color: #ffffff;
}
.hdr-icns {
  display: flex;
  gap: 20px;
  padding-right: 20px;
}
.hdr-icns img {
  width: 30px;
  height: 36px;
  object-fit: contain;
}
.main-frst-sctn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.mains-lft {
  display: flex;
  flex-direction: column;
}
.main-prgrph h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  font-size: 118px;
  color: #ffffff;
  opacity: 75%;
  margin: 70px auto 0px 50px;
}
.main-prgrph p {
  color: #ffffff;
  opacity: 75%;
  width: 893px;
  font-weight: 500;
  font-size: 23px;
  margin: 0px auto 0px 50px;
}
.btn-sctn {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 20px;
}
.primary-btn {
  background-color: transparent;
  color: #ffffff;
  font-size: 23px;
  text-align: center;
  opacity: 75%;
  border-color: #ffffff;
  width: 150px;
  height: 64px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 20px;
}
.main-rght {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 66px auto auto auto;
}
.main-rght img {
  position: relative;
  margin: -90px;
  z-index: 2;
}
.cntnr-rght {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff0d;
  border-radius: 77px;
  width: 490px;
  min-height: 540px;
  padding: 20px 40px 0 0;
}

.info-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.main-rght p {
  font-weight: 400;
  height: 24px;
  margin: 10px;
  font-size: 23px;
  color: #ffffff;
  opacity: 75%;
}
.main-rght span {
  font-weight: 400;
  font-size: 38px;
  color: #ffffff;
  opacity: 75%;
  margin: 10px;
}
.main-rght button {
  width: 217px;
  height: 64px;
  background-color: transparent;
  border-color: #ffffff;
  border-radius: 12px;
  color: #ffffff;
  opacity: 75%;
  font-size: 30px;
}
.main-prgrph-sctn img {
  width: 20px;
  height: 20px;
}
.cmmnt-sctn {
  margin-top: 50px;
  color: #ffffff;
  font-weight: 100;
  line-height: 100%;
  width: 380px;
  height: 200px;
  background-color: #ffffff0d;
  border-radius: 12px;
  opacity: 75%;
  padding: 35px;
}
.hdng {
  text-align: center;
}
.hdng p {
  position: relative; /* important for pseudo-elements */
  display: inline-block;
  color: #ffffff;
  opacity: 75%;
  font-size: 50px;
  padding: 10px 20px;
}

.hdng p::before,
.hdng p::after {
  /*fake child elements*/
  content: ""; /*pseudo elementlerin contenti olmadigi ucun onlara content verilir bosluq da olsa*/
  position: absolute;
  width: 40px;
  height: 40px;
  border: 3px solid #55b000;
  border-radius: 10px;
}
.hdng p::before {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}
.hdng p::after {
  bottom: 0;
  left: 0;
  border-top: none;
  border-right: none;
}
.cntr-top {
  margin: 0 auto; /* horizontally center */
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: rgba(64, 69, 65, 0.5);
  height: 450px;
  width: 1620px;
  border: 2px solid #646464;
  border-radius: 20px;
}
.cntr-tp-prgrph {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  opacity: 75%;
  gap: 20px;
  padding-top: 50px;
}
.cntr-tp-prgrph h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 38px;
  padding: 0px;
  margin: 0px;
}
.cntr-tp-prgrph p {
  font-size: 20px;
  width: 732px;
  margin: 0px;
}
.cntr-tp-prgrph span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 38px;
}
.button {
  display: flex;
}
.frst {
  margin-top: -200px;
  z-index: 2;
  width: 601px;
  height: 722px;
}
.cntr-tp-prgrph img {
  border: 2px solid #8d8c8c;
  border-radius: 10px;
  padding: 10px;
}
.cntr-bttm-prgrph img {
  border: 2px solid #8d8c8c;
  border-radius: 10px;
  padding: 10px;
}
.cntr-bttm {
  margin: 0 auto; /* horizontally center */
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: rgba(64, 69, 65, 0.5);
  height: 450px;
  width: 1620px;
  border: 2px solid #646464;
  border-radius: 20px;
}
.cntr-bttm-prgrph {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  opacity: 75%;
  gap: 20px;
  padding-top: 50px;
}
.cntr-bttm-prgrph h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 38px;
  padding: 0px;
  margin: 0px;
}
.cntr-bttm-prgrph p {
  font-size: 20px;
  width: 732px;
  margin: 0px;
}
.cntr-bttm-prgrph span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 38px;
}
.button {
  display: flex;
}
.scnd {
  margin-top: -200px;
  z-index: 2;
  width: 732px;
  height: 732px;
}
.our-top-selling {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.top-cntr,
.bottom-cntr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.hdng-2 {
  text-align: center;
}
.hdng-2 p {
  position: relative; /* important for pseudo-elements */
  display: inline-block;
  color: #ffffff;
  opacity: 75%;
  font-size: 50px;
  padding: 10px 20px;
}

.hdng-2 p::before,
.hdng-2 p::after {
  /*fake child elements*/
  content: ""; /*pseudo elementlerin contenti olmadigi ucun onlara content verilir bosluq da olsa*/
  position: absolute;
  width: 40px;
  height: 40px;
  border: 3px solid #55b000;
  border-radius: 10px;
}
.hdng-2 p::before {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}
.hdng-2 p::after {
  bottom: 0;
  left: 0;
  border-top: none;
  border-right: none;
}
.top-cntr span img,
.bottom-cntr span img {
  width: 30px;
  height: 30px;
  position: relative;
  top: 10px;
  padding: 3px;
  border: #d2cdcd solid 1px;
  border-radius: 10px;
  margin: 0px;
  margin-left: 5px;
}
.top-cntr img,
.bottom-cntr img {
  width: 350px;
  height: 450px;
  border-radius: 20px;
  margin: 0 20px;
  position: relative;
  top: -50px;
}
.cntnr-1 img,
.cntnr-2 img {
  width: 450px;
  height: 490px;
  border-radius: 20px;
  margin: 0 20px;
}
.cntnr-1,
.cntnr-2,
.cntnr-3,
.cntnr-4,
.cntnr-5,
.cntnr-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  justify-content: flex-start;
  gap: 3px;
  width: 490px;
  height: 650px;
  background-color: rgba(64, 69, 65, 0.5);
  border-radius: 20px;
  border: #f8f0f00d solid 2px;
  margin: 20px;
}
.customer-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.hdng-3 {
  text-align: center;
}
.hdng-3 p {
  position: relative; /* important for pseudo-elements */
  display: inline-block;
  color: #ffffff;
  opacity: 75%;
  font-size: 50px;
  padding: 10px 20px;
}

.hdng-3 p::before,
.hdng-3 p::after {
  /*fake child elements*/
  content: ""; /*pseudo elementlerin contenti olmadigi ucun onlara content verilir bosluq da olsa*/
  position: absolute;
  width: 40px;
  height: 40px;
  border: 3px solid #55b000;
  border-radius: 10px;
}
.hdng-3 p::before {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}
.hdng-3 p::after {
  bottom: 0;
  left: 0;
  border-top: none;
  border-right: none;
}
.cntr {
  display: flex;
  flex-direction: row;
  gap: 150px;
}
.cntr-7,
.cntr-8,
.cntr-9 {
  background: linear-gradient(
    147.93deg,
    rgba(255, 255, 255, 0.2) 6.68%,
    rgba(0, 0, 0, 0) 51.71%,
    rgba(255, 255, 255, 0.2) 93.27%
  );
  width: 612px;
  height: 300px;
  border-radius: 20px;
  color: #ffffff;
  font-size: 25px;
  padding: 20px;
}
.cmnt-hdng {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.name-rating {
  display: flex;
  flex-direction: column;
}
.rtng {
  width: 130px;
  height: 19px;
}
.photo {
  width: 80px;
  height: 80px;
}
.our-best-o2 {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #ffffff;
  gap: 50px;
}
.cntr-lst {
  display: flex;
  flex-direction: row;
  align-self: center;
  background: linear-gradient(
    147.93deg,
    rgba(160, 154, 154, 0.2) 6.68%,
    rgba(0, 0, 0, 0) 51.71%,
    rgba(160, 158, 158, 0.2) 93.27%
  );
  width: 2600px;
  height: 960px;
  border: 3px solid #656363;
  border-radius: 30px;
  padding: 50px;
  gap: 100px;
}
.last-plnt {
  width: 880px;
  height: 880px;
}

.lst-sctn-p {
  display: flex;
  flex-direction: column;
  gap: 150px;
  font-size: 35px;
}
.lst-sctn-p h2 {
  font-size: 48px;
  font-style: 300;
  line-height: 100%;
}

.lst-sctn-buttons {
  display: flex;
  flex-direction: row;
  height: max-content;
  gap: 20px;
}

.slider {
  display: flex;
  align-items: center;
  gap: 25px;
}

.right-arrow {
  width: 24px;
  height: 24px;
}
.left-arrow {
  width: 24px;
  height: 24px;
  transform: scaleX(-1); /* flip horizontally */
}
.hdng-4 {
  text-align: center;
}
.hdng-4 p {
  position: relative; /* important for pseudo-elements */
  display: inline-block;
  color: #ffffff;
  opacity: 75%;
  font-size: 50px;
  padding: 10px 20px;
}

.hdng-4 p::before,
.hdng-4 p::after {
  /*fake child elements*/
  content: ""; /*pseudo elementlerin contenti olmadigi ucun onlara content verilir bosluq da olsa*/
  position: absolute;
  width: 40px;
  height: 40px;
  border: 3px solid #55b000;
  border-radius: 10px;
}
.hdng-4 p::before {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}
.hdng-4 p::after {
  bottom: 0;
  left: 0;
  border-top: none;
  border-right: none;
}
@media (max-width: 400px) {
  body {
    background-image: url("../images/backgroundimg.jpg");
    background-size: cover;
    margin: 20px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    width: 100%;
    height: 50px;
  }
  .hdr-lft span {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 900;
    color: #ffffff;
    font-size: 16px;
  }
  .hdr-icns img {
    width: 16px;
    height: 16px;
  }
  .hdr-lft,
  .hdr-icns {
    flex-shrink: 1;
  }
  main {
    display: flex;
    flex-direction: column;
    gap: 100px; /* creates vertical gap between sections */
  }
  .main-frst-sctn {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .main-rght img {
    position: relative;
    margin: -90px;
    z-index: 2;
    height: 550px;
  }
  .btn-sctn img {
    height: 44px;
    width: auto;
  }
  .main-rght button {
    width: 180px;
    height: 54px;
    background-color: transparent;
    border-color: #ffffff;
    border-radius: 12px;
    color: #ffffff;
    opacity: 75%;
    font-size: 20px;
  }
  .primary-btn {
    font-size: 10px;
    border: 2px solid white;
    color: #ffffff;
    width: 80px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  main {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .mains-lft {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .main-prgrph h1 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #ffffff;
    opacity: 75%;
    margin: 30px auto 0px 50px;
  }
  .main-prgrph p {
    display: none;
  }
  .main-rght img {
    position: relative;
    margin: -40px;
    z-index: 2;
    width: 460px;
    height: 460px;
  }
  .cntnr-rght {
    width: 350px;
    height: 300px;
    padding: 0 0 0 0;
  }
  .info-text {
    display: flex;
    flex-direction: column;
  }
  .info-text-with-arrow {
    display: flex;
    flex-direction: row;
  }
  .info-text-with-arrow .arrow {
    position: absolute;
    height: 24px;
    width: 24px;
    margin: 70px 0px 0 200px;
  }
  .cntnr-rght img {
    width: 300px;
    height: 300px;
  }
  .info-text p {
    font-size: 18px;
  }
  .info-text span {
    font-size: 25px;
  }
  .nvgtn-br {
    display: none;
  }
  .hdng {
    display: block;
    margin: 150px auto; /* center it with spacing */
    text-align: center; /* ensures text is centered */
  }
  .hdng p {
    position: relative; /* important for pseudo-elements */
    display: inline-block;
    color: #ffffff;
    width: 200px;
    opacity: 75%;
    font-size: 24px;
    padding: 10px 20px;
  }

  .hdng p::before,
  .hdng p::after {
    /*fake child elements*/
    content: ""; /*pseudo elementlerin contenti olmadigi ucun onlara content verilir bosluq da olsa*/
    position: absolute;
    width: 40px;
    height: 40px;
    border: 3px solid #55b000;
    border-radius: 10px;
  }
  .hdng p::before {
    top: 0;
    right: 0;
    border-left: none;
    border-bottom: none;
  }
  .hdng p::after {
    bottom: 0;
    left: 0;
    border-top: none;
    border-right: none;
  }
  .our-trnd-plnts {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .cntr-top,
  .cntr-bttm {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 400px;
    text-align: center;
  }
  .cntr-bttm {
    flex-direction: column-reverse;
  }
  .cntr-bttm h3,
  .cntr-top h3 {
    font-size: 20px;
    font-weight: 600;
    font-style: bold;
  }
  .cntr-bttm p,
  .cntr-top p {
    width: 300px;
    padding: 5px;
    font-size: 10px;
    font-weight: 600;
  }
  .cntr-bttm span,
  .cntr-top span {
    font-size: 17px;
  }
  .cntr-bttm-prgrph img,
  .cntr-tp-prgrph img {
    height: 25px;
    width: 25px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
  }
  .button {
    margin-bottom: 20px;
  }
  .frst {
    margin: -120px 0px 0px 0px;
    width: 270px;
    height: 240px;
  }
  .scnd {
    margin: -120px 0 0 0;
    width: 180px;
    height: 250px;
  }
  .cntr-tp-prgrph {
    gap: 0px;
    height: 140px;
    padding-top: 0px;
    margin-top: 0px;
    padding-top: 20px;
  }
  .our-trnd-plnts .hdng {
    margin-bottom: 0px;
  }
  .our-trnd-plnts .cntr-top {
    margin-bottom: 0px;
  }
  .cntr-bttm-prgrph {
    gap: 0px;
    padding-top: 20px;
  }
  .our-top-selling {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    gap: 30px;
  }
  .top-cntr,
  .bottom-cntr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hdng-2 {
    text-align: center;
  }
  .hdng-2 p {
    position: relative; /* important for pseudo-elements */
    display: inline-block;
    color: #ffffff;
    opacity: 75%;
    font-size: 20px;
    padding: 10px 20px;
  }

  .hdng-2 p::before,
  .hdng-2 p::after {
    /*fake child elements*/
    content: ""; /*pseudo elementlerin contenti olmadigi ucun onlara content verilir bosluq da olsa*/
    position: absolute;
    width: 30px;
    height: 30px;
    border: 3px solid #55b000;
    border-radius: 10px;
  }
  .hdng-2 p::before {
    top: 0;
    right: 0;
    border-left: none;
    border-bottom: none;
  }
  .hdng-2 p::after {
    bottom: 0;
    left: 0;
    border-top: none;
    border-right: none;
  }
  .top-cntr span img,
  .bottom-cntr span img {
    width: 30px;
    height: 30px;
    position: relative;
    top: 10px;
    padding: 3px;
    border: #d2cdcd solid 1px;
    border-radius: 10px;
    margin: 0px;
    margin-left: 5px;
  }
  .top-cntr img,
  .bottom-cntr img {
    width: 180px;
    height: 250px;
    border-radius: 20px;
    margin: 0 20px;
    position: relative;
    top: -50px;
  }
  .cntnr-1 img,
  .cntnr-2 img {
    width: 220px;
    height: 250px;
    border-radius: 20px;
    margin: 0 20px;
  }
  .cntnr-1,
  .cntnr-2,
  .cntnr-3,
  .cntnr-4,
  .cntnr-5,
  .cntnr-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    justify-content: flex-start;
    gap: 3px;
    width: 340px;
    height: 470px;
    background-color: #ffffff0d;
    border-radius: 20px;
    border: #f8f0f00d solid 2px;
  }
  .customer-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }
  .hdng-3 p {
    font-size: 24px;
  }
  .cntr {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  .cntr-7,
  .cntr-8,
  .cntr-9 {
    background: linear-gradient(
      147.93deg,
      rgba(255, 255, 255, 0.2) 6.68%,
      rgba(0, 0, 0, 0) 51.71%,
      rgba(255, 255, 255, 0.2) 93.27%
    );
    width: 312px;
    height: 300px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 15px;
    padding: 20px;
  }
  .cmnt-hdng {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .name-rating {
    display: flex;
    flex-direction: column;
  }
  .rtng {
    width: 130px;
    height: 19px;
  }
  .photo {
    width: 80px;
    height: 80px;
  }
  .our-best-o2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 300px;
  }
  .cntr-lst {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 400px;
    height: 600px;
    gap: 50px;
  }

  .last-plnt {
    position: absolute;
    margin: -350px 0 0 auto;
    width: 350px;
    height: 400px;
  }

  .lst-sctn-p {
    font-size: 15px;
    padding-top: 90px;
    gap: 50px;
  }

  .lst-sctn-p h2 {
    font-size: 15px;
  }

  .right-arrow,
  .left-arrow {
    width: 16px;
    height: 16px;
  }
  .hdng-4 p {
    font-size: 24px;
  }
}
@media (min-width: 400px) and (max-width: 1120px) {
  .nvgtn-br {
    display: none;
  }
  .hdr-lft {
    display: flex;
  }
  .hdr-lft img {
    height: 130px;
  }
  .hdr-lft span {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: -30px;
    font-weight: 900;
    font-size: 28px;
    color: #ffffff;
  }
  .hdr-icns {
    display: flex;
    gap: 20px;
    padding-right: 20px;
  }
  .hdr-icns img {
    width: 20px;
    height: 26px;
    object-fit: contain;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .main-frst-sctn {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .mains-lft {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-prgrph h1 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: #ffffff;
    opacity: 75%;
    margin: 20px auto;
  }
  .main-prgrph p {
    color: #ffffff;
    opacity: 75%;
    font-weight: 500;
    font-size: 23px;
    text-align: center;
    margin: 0 auto;
    max-width: 380px;
  }
  .btn-sctn {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 20px;
  }
  .primary-btn {
    display: none;
  }
  .main-rght {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 66px auto auto auto;
  }
  .main-rght img {
    position: relative;
    margin: -90px;
    z-index: 2;
    height: 530px;
    width: 530px;
  }

  .cntnr-rght {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    background-color: #ffffff0d;
    border-radius: 77px;
    width: 400px;
    height: 300px;
  }
  .cntnr-rght img {
    width: 350px;
    height: 350px;
  }
  .info-text {
    display: flex;
    flex-direction: column;
  }
  .info-text-with-arrow {
    display: flex;
    flex-direction: row;
  }
  .info-text-with-arrow img {
    position: absolute;
    height: 24px;
    width: 24px;
    margin: 70px 0px 0 290px;
  }

  .info-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .info-text p {
    height: 50px;
  }
  .main-rght p {
    font-weight: 400;
    height: 24px;
    margin: 10px;
    font-size: 23px;
    color: #ffffff;
    opacity: 75%;
  }
  .main-rght span {
    font-weight: 400;
    font-size: 38px;
    color: #ffffff;
    opacity: 75%;
    margin: 10px;
  }
  .main-rght button {
    width: 217px;
    height: 64px;
    background-color: transparent;
    border-color: #ffffff;
    border-radius: 12px;
    color: #ffffff;
    opacity: 75%;
    font-size: 30px;
  }
  .main-prgrph-sctn img {
    width: 20px;
    height: 20px;
  }
  .our-trnd-plnts {
    display: flex;
    flex-direction: column;
    margin-top: 550px;
    gap: 150px;
  }
  .cntr-top,
  .cntr-bttm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 400px;
    height: 600px;
  }
  .cntr-bttm-prgrph img,
  .cntr-tp-prgrph img {
    display: none;
  }

  .frst {
    position: relative;
    margin-top: -150px;
    height: 350px;
    width: 350px;
  }

  .cntr-tp-prgrph p,
  .cntr-bttm-prgrph p {
    font-size: 20px;
    width: 400px;
    height: 50px;
    overflow: hidden;
    margin: 0px;
  }
  .cntr-bttm {
    display: flex;
    flex-direction: column-reverse;
  }
  .scnd {
    position: relative;
    margin-top: -150px;
    width: 350px;
    height: 450px;
  }
  .our-top-selling {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .top-cntr,
  .bottom-cntr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hdng-2 {
    text-align: center;
  }
  .hdng-2 p {
    position: relative; /* important for pseudo-elements */
    display: inline-block;
    color: #ffffff;
    opacity: 75%;
    font-size: 50px;
    padding: 10px 20px;
  }

  .hdng-2 p::before,
  .hdng-2 p::after {
    /*fake child elements*/
    content: ""; /*pseudo elementlerin contenti olmadigi ucun onlara content verilir bosluq da olsa*/
    position: absolute;
    width: 30px;
    height: 30px;
    border: 3px solid #55b000;
    border-radius: 10px;
  }
  .hdng-2 p::before {
    top: 0;
    right: 0;
    border-left: none;
    border-bottom: none;
  }
  .hdng-2 p::after {
    bottom: 0;
    left: 0;
    border-top: none;
    border-right: none;
  }
  .top-cntr span img,
  .bottom-cntr span img {
    width: 30px;
    height: 30px;
    position: relative;
    top: 10px;
    padding: 3px;
    border: #d2cdcd solid 1px;
    border-radius: 10px;
    margin: 0px;
    margin-left: 5px;
  }
  .top-cntr img,
  .bottom-cntr img {
    width: 180px;
    height: 250px;
    border-radius: 20px;
    margin: 0 20px;
    position: relative;
    top: -50px;
  }
  .cntnr-1 img,
  .cntnr-2 img {
    width: 220px;
    height: 250px;
    border-radius: 20px;
    margin: 0 20px;
  }
  .cntnr-1,
  .cntnr-2,
  .cntnr-3,
  .cntnr-4,
  .cntnr-5,
  .cntnr-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    justify-content: flex-start;
    gap: 3px;
    width: 340px;
    height: 470px;
    background-color: #ffffff0d;
    border-radius: 20px;
    border: #f8f0f00d solid 2px;
    margin: 20px;
  }
  .customer-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }
  .hdng-3 p {
    font-size: 24px;
  }
  .cntr {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  .cntr-7,
  .cntr-8,
  .cntr-9 {
    background: linear-gradient(
      147.93deg,
      rgba(255, 255, 255, 0.2) 6.68%,
      rgba(0, 0, 0, 0) 51.71%,
      rgba(255, 255, 255, 0.2) 93.27%
    );
    width: 350px;
    height: 330px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
  }
  .cmnt-hdng {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .name-rating {
    display: flex;
    flex-direction: column;
  }
  .rtng {
    width: 130px;
    height: 19px;
  }
  .photo {
    width: 80px;
    height: 80px;
  }
  .our-best-o2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 300px;
  }
  .cntr-lst {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 400px;
    height: 600px;
    gap: 50px;
  }

  .last-plnt {
    position: absolute;
    margin: -350px 0 0 auto;
    width: 350px;
    height: 400px;
  }

  .lst-sctn-p {
    font-size: 15px;
    padding-top: 90px;
    gap: 50px;
  }

  .lst-sctn-p h2 {
    font-size: 15px;
  }

  .right-arrow,
  .left-arrow {
    width: 16px;
    height: 16px;
  }
  .hdng-4 p {
    font-size: 24px;
  }
}
@media (min-width: 1120px) and (max-width: 1727px) {
  body {
    background-image: url("../images/backgroundimg.jpg");
    background-size: cover;
  }
  .header {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    width: 100%;
    height: 50px;
  }
  .nvgtn-br {
    display: flex;
    gap: 30px;
    width: 545px;
    opacity: 75%;
  }
  .hdr-lft img {
    height: 132px;
    width: 102px;
  }
  .hdr-lft span {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-left: -30px;
    font-weight: 900;
    color: #ffffff;
  }
  main {
    display: flex;
    flex-direction: column;
    gap: 150px;
  }
  .main-frst-sctn {
    display: flex;
    flex-direction: row;
    text-align: left;
  }
  .main-prgrph h1 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #ffffff;
    opacity: 75%;
    margin: 70px auto 0px 50px;
  }
  .main-rght img {
    width: 511px;
    height: 500px;
  }
  .mains-lft p {
    max-width: 600px;
  }
  .cntnr-rght img {
    width: 400px;
    height: 400px;
  }
  .cntnr-rght {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    background-color: #ffffff0d;
    border-radius: 77px;
    width: 400px;
    height: 240px;
  }
  .cmmnt-sctn {
    margin-left: 30px;
  }
  .our-trnd-plnts {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .hdng {
    width: 100%;
    height: 110px;
  }
  .cntr-top,
  .cntr-bttm {
    width: 1150px;
  }
  .frst {
    width: 511px;
    height: 450px;
    margin-top: 1px;
  }
  .scnd {
    width: 351px;
    height: 450px;
    margin-top: 1px;
  }
  .cntr-tp-prgrph p,
  .cntr-bttm-prgrph p {
    width: 450px;
    height: 50px;
    overflow: hidden;
  }
  .cntnr-rght {
    display: flex;
    flex-direction: column;
    height: 650px;
  }
  .info-text {
    display: flex;
    flex-direction: column;
  }
  .info-text-with-arrow {
    display: flex;
    flex-direction: row;
  }
  .info-text-with-arrow img {
    position: absolute;
    width: 24px;
    height: 24px;
    margin: 70px 0px 0 280px;
  }

  .top-cntr,
  .bottom-cntr {
    display: flex;
    flex-direction: column;
  }
  .customer-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }
  .hdng-3 p {
    font-size: 24px;
  }
  .cntr {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  .cntr-7,
  .cntr-8,
  .cntr-9 {
    background: linear-gradient(
      147.93deg,
      rgba(255, 255, 255, 0.2) 6.68%,
      rgba(0, 0, 0, 0) 51.71%,
      rgba(255, 255, 255, 0.2) 93.27%
    );
    width: 490px;
    height: 300px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
  }
  .cmnt-hdng {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .name-rating {
    display: flex;
    flex-direction: column;
  }
  .rtng {
    width: 130px;
    height: 19px;
  }
  .photo {
    width: 80px;
    height: 80px;
  }
  .our-best-o2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 300px;
  }
  .cntr-lst {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 400px;
    height: 600px;
    gap: 50px;
  }

  .last-plnt {
    position: absolute;
    margin: -350px 0 0 auto;
    width: 350px;
    height: 400px;
  }

  .lst-sctn-p {
    font-size: 15px;
    padding-top: 90px;
    gap: 50px;
  }

  .lst-sctn-p h2 {
    font-size: 15px;
  }

  .right-arrow,
  .left-arrow {
    width: 16px;
    height: 16px;
  }
  .hdng-4 p {
    font-size: 24px;
  }
}
@media (min-width: 1728px) {
  .main-frst-sctn {
    justify-content: space-around;
    margin-top: 50px;
  }

  .mains-lft,
  .main-rght {
    width: 40%;
    margin: 0;
  }

  .main-prgrph h1 {
    margin: 70px 0 0 0;
  }

  .main-prgrph p {
    max-width: 600px;
    margin: 20px 0;
  }
  .main-rght img {
    max-width: 100%;
  }
  .cntnr-rght {
    justify-content: space-around;
    gap: 0px;
    margin-top: 50px;
  }
  .cntr-top,
  .cntr-bttm {
    width: 1700px;
  }
  .our-trnd-plnts .hdng {
    margin-bottom: 80px;
  }
  .our-trnd-plnts {
    display: flex;
    flex-direction: column;
  }
  .our-trnd-plnts .cntr-top {
    margin-bottom: 150px;
  }
  .scnd {
    width: 450px;
    height: 630px;
  }
  .frst {
    width: 620px;
    height: 590px;
  }
  .cntnr-rght {
    display: flex;
    flex-direction: column;
    height: 650px;
  }
  .info-text {
    display: flex;
    flex-direction: column;
  }
  .info-text-with-arrow {
    display: flex;
    flex-direction: row;
  }
  .info-text-with-arrow img {
    position: absolute;
    height: 24px;
    margin: 70px 0px 0 280px;
  }
  .top-cntr,
  .bottom-cntr {
    gap: 150px;
  }
  .our-best-o2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }
  .cntr-lst {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 600px;
    width: 1700px;
  }

  .last-plnt {
    position: relative;
    width: 550px;
    height: 550px;
  }
  .lst-sctn-p {
    font-size: 25px;
    padding-top: 90px;
    gap: 50px;
  }

  .lst-sctn-p h2 {
    font-size: 25px;
  }

  .right-arrow,
  .left-arrow {
    width: 16px;
    height: 16px;
  }
  .hdng-4 p {
    font-size: 50px;
  }
}
@media (min-width: 3600px) {
  .main-frst-sctn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    margin-top: 50px;
  }
  .cntnr-rght {
    display: flex;
    flex-direction: column;
    height: 650px;
  }
  .info-text {
    display: flex;
    flex-direction: column;
  }
  .info-text-with-arrow {
    display: flex;
    flex-direction: row;
  }
  .info-text-with-arrow img {
    position: absolute;
    height: 24px;
    margin: 70px 0px 0 280px;
  }
  .cntr-top,
  .cntr-bttm {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    width: 2500px;
  }
  .top-cntr,
  .bottom-cntr {
    font-weight: 300;
    gap: 150px;
  }
  .our-best-o2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }
  .cntr-lst {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    height: 700px;
    width: 2500px;
  }
  

  .right-arrow,
  .left-arrow {
    width: 16px;
    height: 16px;
  }
  .hdng-4 p {
    font-size: 50px;
  }
}
