body {
    background-color: #1D241A;
}

/* === Mobile version (default) === */

/* HEADER */

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo-img {
    width: 30px;
    margin-right: 5px;
}

.header__logo-text {
    font-weight: 900;
    font-size: 18px;
    color: #FFFFFF;
}

.header__nav {
    display: none;
}

.header__icons {
    display: flex;
}

.header__icon-img {
    width: 20px;
}

.header__icon-btn--spaced {
    margin: 0 26px;
}

/* MAIN */

/* main-section */
.main-section {
    background-image: url(../images/background/background-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
}

/* hero */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* hero__content */
.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
}

.hero__text {
    margin: 17px 0 20px;
    text-align: center;
    max-width: 316px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
}

.hero__actions {
    display: flex;
    color: #FFFFFF;
}

.button--primary {
    border: solid 2px #FFFFFF;
    border-radius: 8px;
    height: 38px;
    padding: 5px 30px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
}

.hero__live-demo {
    display: flex;
    align-items: center;
}

.hero__live-demo-icon {
    margin-inline: 17px 10px;
}


/* hero__review */
.hero__review {
    display: none;
}

/* hero__product */
.hero__product {
    display: none;
}





/* === Desktop version (min-width 768px) === */
@media (min-width: 768px) {

    /* HEADER */

    .header {
        justify-content: space-between;
        padding: 55px 65px;
    }

    .header__nav {
        display: flex;
        color: #FFFFFF;
    }

    .header__list {
        display: flex;
    }

    .header__item {
        margin: 0 20px;
    }

    .header__link {
        display: flex;
    }

    .header__icon {
        margin-left: 5px;
    }


    /* MAIN */

    /* main-section */

    /* hero */
    .hero {
        flex-direction: row;
        justify-content: space-between;
        margin-inline: 40px;
    }

    /* hero__content */

    .hero__content {
        max-width: 415px;
    }

    .hero__title {
        width: 100%;
        font-weight: 600;
        font-size: 60px;
        text-align: start;
    }

    .hero__text {
        margin: 0 0 20px;
        text-align: start;
        max-width: none;
        font-size: 14px;
    }
}