* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: white;
}

:root {
    font-size: 10px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

body {
    background-color: #1B2316;
}

section,
footer {
    padding: 10rem 6rem;
}


/* =============== PLANT BACKGROUND =============== */

.plant-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 2/3;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./img/header-bg.jpg');
    background-size: cover;
    background-position: center;
}

/* =============== HEADER =============== */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 min(5.6rem, 7vw);
    margin-top: min(5.7rem, 7vw);
}

.logo-cnr {
    display: flex;
    align-items: flex-end;
    gap: 0.8rem;
}

.logo {
    height: 4.8rem;
}

.logo-text {
    font-size: 2.8rem;
    font-weight: 800;
}

.nav-link-list {
    display: flex;
    gap: 7rem;
    font-size: 2.4rem;
}

.nav-link-list li:nth-child(2) {
    position: relative;
}

.nav-link:hover,
.nav-link:hover>* {
    color: orange;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 4.5em;
}

.header-basket-cnr {
    position: relative;
}

.header-icons i {
    font-size: 3.2em;
}

.menu-icon {
    display: none;
}

.added-items-count {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: crimson;
    color: white;
    padding: 1rem;
    min-height: 3.2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    font-size: 1.8rem;
    line-height: 1;
    box-sizing: border-box;
    white-space: nowrap;
    position: absolute;
    bottom: -50%;
    right: -50%;
}

.menu-line {
    display: block;
    height: 4px;
    border-radius: 1000px;
    background-color: white;
    width: 25px;
}

.menu-line:nth-child(2) {
    width: 15px;
    margin-left: auto;
    margin-top: 8px;
}